<% @bags.each do |bag| %>
<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to bag_path(bag) do %>
        <%= image_tag "bag.png", class: "img-responsive" %>
        <% end %>
        <p><strong><%= link_to bag.name, bag_path(bag) %></strong></p>
        <p>$<%= bag.price.to_f / 100 %></p>
</div>
</div>
<% end %>