<div class="background-image">
<div class="container">
<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotron text-center">
<h2 class="uppercase">Welcome to Vicky's</h2>
<p>The largest online Marketplace for bags and purses</p>
<%= link_to "Bags", bags_path, class: "btn btn-primary btn-block" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>


</div>
<div class="clearfix"></div>
<div class="row">




</div>
</div>
</div>
